In [1]:
from sqlalchemy import create_engine
from SPARQLWrapper import SPARQLWrapper, RDFXML, JSON
import mysql.connector as sql
import pymysql
import pandas as pd
import requests
import time
import re
 
UserName='helmstedt'
Password='PASShelmstedtdbWORD'
DatabaseName='helmstedt'
 
# Creating the database connection
db_connection = create_engine("mysql+pymysql://helmstedt:PASShelmstedtdbWORD@192.168.125.21:8202/helmstedt")

endpoint = "https://wb.pcp-on-web.de/store-oker/research/"

# This function counts the genrated tripples of the research ontolgy (data:)
def count_triples(endpoint,graph) :
    #count number of exiting triples
    sparql = SPARQLWrapper(endpoint+'sparql')
    sparql.setQuery('SELECT (COUNT(*) as ?Triples) FROM '+graph+' WHERE { ?s ?p ?o}')
    sparql.setReturnFormat(JSON)
    json_results = sparql.query().convert()
    return json_results['results']['bindings'][0]['Triples']['value']
    

# This function executes a sparql construct query and imports the data to the research ontolgy (data:)
def insert_sql(query, endpoint, db, execute_query) :
    start_time = time.time()

    lines = query.split("\n")
    data_graph="leer"
    info = lines[1]+"\n"+lines[2]

    data=""
    triples=[]
    for line in lines:
        if (line.find("#SQL:")==0):
            df = pd.read_sql(line[line.find("SELECT"):], con=db)
        if ((line.find("?")>=0)or(line.find("!")>=0)):
            triples.append(line)
        else : 
            if (line.find("}")==-1):
                data += line + "\n"
                if (line.find("PREFIX data:")==0):
                    data_graph = line[line.find("<"):]
                
    for index, row in df.iterrows():

        for triple in triples :

            triple=triple.replace('!','!=!=!')
            triple=triple.replace('?','?=?=?')
            for column in df :
                if row[column] is not None:
                    if (str(row[column])!=''):
                        item=str(row[column])

                        item=item.replace('"','\"')
                        if (item.find('\n')>=0):
                            item='""'+item+'""'
                        
                        item_uri=item
                        item_uri=item_uri.replace('ö','oe')
                        item_uri=item_uri.replace('ü','ue')
                        item_uri=item_uri.replace('ä','ae')
                        item_uri=item_uri.replace('ß','ss')
                        item_uri=item_uri.replace('Ö','Oe')
                        item_uri=item_uri.replace('Ü','Ue')
                        item_uri=item_uri.replace('Ä','Ae')
                        
                        item_uri=re.sub("[^A-Za-z0-9\-]","",item_uri)
                        
                        triple = triple.replace('!=!=!'+column,item_uri)
                        triple = triple.replace('?=?=?'+column,item)

            if ((triple.find("?=?=?")==-1) and (triple.find("!=!=!")==-1)) :
                data += triple + '\n'                                

        data+='\n###\n'

    data+='\n  }\n}'

    
    if (execute_query):
    
        start_count = count_triples(endpoint,data_graph)

        sparql = SPARQLWrapper(endpoint)
        sparql.setQuery(data)
        sparql.method = 'POST'
        sparql.query()

        end_count = count_triples(endpoint,data_graph)
        output =  "\n"+info+"\n"+start_count + "-" + end_count + "\n--- " + str(time.time() - start_time) + " seconds ---"
    
    else:
        
        output = data
        
    
    return output

In [2]:
data="""
# Basic Import of Lecturers including relevant attributes, birth, death and pictures
#-----

#SQL: SELECT id, temp_prof_kat.gnd, name as surname, firstname, birthdate , birthplace, birthplace_geonames as birth_geonames , deathdate, deathplace, deathplace_geonames as death_geonames, faculty, note, image as imagekey, imageSource, temp_prof_kat.pnd, CONCAT_WS(' ',firstname, name, birthdate, '-', deathdate) as label, CONCAT_WS('-','prof',id, name) as lecturer, sonstige_angaben, namenvariante FROM temp_prof_kat LEFT JOIN pnd ON temp_prof_kat.pnd=pnd.pnd; 

PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX pcp: <http://pcp-on-web.de/ontology#>
PREFIX data: <http://data.pcp-on-web.de/v.1/>
PREFIX city: <http://data.pcp-on-web.de/v.1/city/>
PREFIX helmstedt: <http://data.pcp-on-web.de/v.1/helmstedt/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX cpm: <http://catalogus-professorum.org/cpm/2/>
PREFIX cpl: <http://catalogus-professorum.org/lipsiensium/>

INSERT DATA {
    GRAPH data: {

        helmstedt:!lecturer rdf:type pcp:Lecturer .
        helmstedt:!lecturer pcp:forename "?firstname" .
        helmstedt:!lecturer pcp:surname "?surname" .
        helmstedt:!lecturer pcp:gnd <https://d-nb.info/gnd/?gnd>.
        helmstedt:!lecturer rdfs:label "?label" .
        helmstedt:!lecturer pcp:note "?note" .
        helmstedt:!lecturer pcp:furherInformation "?sonstige_angaben" .
        helmstedt:!lecturer pcp:id "?pnd" .
        helmstedt:!lecturer pcp:alternativeWritingOfSurname "?namenvariante" .
        
        helmstedt:!lecturer cpm:hasPicture data:pict-!imageSource.
        data:pict-!imageSource cpm:picture "?imageSource".
        data:pict-!imageSource cpm:pictureKey "?imagekey".

        data:birth-!lecturer rdf:type pcp:Birth .
        helmstedt:!lecturer pcp:hasStageOfLife data:birth-!lecturer.
        data:birth-!lecturer pcp:date "?birthdate".
        data:birth-!lecturer rdfs:label "?birthdate Geburt von ?surname".

        city:!birthplace rdf:type pcp:Location.
        data:birth-!lecturer pcp:stageOfLifeLocation city:!birthplace.
        city:!birthplace rdfs:label "?birthplace".
        city:!birthplace rdfs:seeAlso <https://www.geonames.org/!birth_geonames> .

        data:death-!lecturer rdf:type pcp:Death .
        helmstedt:!lecturer pcp:hasStageOfLife data:death-!lecturer.
        data:death-!lecturer pcp:date "?deathdate".
        data:death-!lecturer rdfs:label "?deathdate Tod von ?surname".

        city:!deathplace rdf:type pcp:Location.
        data:death-!lecturer pcp:stageOfLifeLocation city:!deathplace.
        city:!deathplace rdfs:label "?deathplace".
        city:!deathplace rdfs:seeAlso <https://www.geonames.org/!death_geonames> .




    }
}
"""


print(insert_sql(data,endpoint,db_connection,True))

# Basic Import of Lecturers including relevant attributes, birth, death and pictures
#-----
19278-24792
--- 2.8585689067840576 seconds ---

In [3]:
data="""
# Offices Lecturers including relevant attributes
#-----

#SQL: SELECT prof_amt.id as officeid, ort, amt, CAST(von AS CHARACTER) as von, CAST(bis as CHARACTER) as bis, kommentar, temp_prof_kat.id, CONCAT_WS('-','prof', temp_prof_kat.id, temp_prof_kat.name) as lecturer FROM temp_prof_kat JOIN prof_amt ON prof_amt.idProf=temp_prof_kat.id;
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX pcp: <http://pcp-on-web.de/ontology#>
PREFIX data: <http://data.pcp-on-web.de/v.1/>
PREFIX city: <http://data.pcp-on-web.de/v.1/city/>
PREFIX helmstedt: <http://data.pcp-on-web.de/v.1/helmstedt/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX cpm: <http://catalogus-professorum.org/cpm/2/>
PREFIX cpl: <http://catalogus-professorum.org/lipsiensium/>

INSERT DATA {
    GRAPH data: {

        helmstedt:!lecturer rdf:type pcp:Lecturer .
        data:office-!officeid-!lecturer rdf:type pcp:Office .
        helmstedt:!lecturer pcp:hasStageOfLife data:office-!officeid-!lecturer.

        data:office-!officeid-!lecturer rdfs:label "?amt".

        data:office-!officeid-!lecturer pcp:from "?von".
        data:office-!officeid-!lecturer pcp:to "?bis".
        data:office-!officeid-!lecturer pcp:note "?kommentar".

        city:!ort rdf:type pcp:Location.
        data:office-!officeid-!lecturer pcp:stageOfLifeLocation city:!ort.
        city:!ort rdfs:label "?ort".



    }
}
"""


print(insert_sql(data,endpoint,db_connection,True))

# Offices Lecturers including relevant attributes
#-----
24792-25944
--- 0.5807182788848877 seconds ---

In [8]:
data="""
# Academic offices of Lecturers including relevant attributes
#-----

#SQL: SELECT prof_amt_akad.id as officeid, universitaet, fakultaet, amt, CAST(von AS CHARACTER) as von, CAST(bis as CHARACTER) as bis, kommentar, temp_prof_kat.id, CONCAT_WS('-','prof', temp_prof_kat.id, temp_prof_kat.name) as lecturer FROM temp_prof_kat LEFT JOIN prof_amt_akad ON prof_amt_akad.idProf=temp_prof_kat.id; 
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX pcp: <http://pcp-on-web.de/ontology#>
PREFIX data: <http://data.pcp-on-web.de/v.1/>
PREFIX city: <http://data.pcp-on-web.de/v.1/city/>
PREFIX helmstedt: <http://data.pcp-on-web.de/v.1/helmstedt/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX cpm: <http://catalogus-professorum.org/cpm/2/>
PREFIX cpl: <http://catalogus-professorum.org/lipsiensium/>

INSERT DATA {
    GRAPH data: {

        helmstedt:!lecturer rdf:type pcp:Lecturer .
        data:acoffice-!officeid-!lecturer rdf:type pcp:AcademicOffice .
        helmstedt:!lecturer pcp:hasStageOfLife data:acoffice-!officeid-!lecturer.

        data:acoffice-!officeid-!lecturer rdfs:label "?amt".

        data:acoffice-!officeid-!lecturer pcp:from "?von".
        data:acoffice-!officeid-!lecturer pcp:to "?bis".
        data:acoffice-!officeid-!lecturer pcp:note "?kommentar".

        city:!universitaet rdf:type pcp:Location.
        data:acoffice-!officeid-!lecturer pcp:stageOfLifeLocation city:!universitaet.
        city:!universitaet rdfs:label "?ort".



    }
}
"""


print(insert_sql(data,endpoint,db_connection,True))

# Academic offices of Lecturers including relevant attributes
#-----
28752-29868
--- 0.6895041465759277 seconds ---

In [9]:
data="""
# Chairs oProfs of Lecturers including relevant attributes
#-----

#SQL: SELECT prof_lehrstuhl.id as officeid, universitaet, fakultaet,CAST(von AS CHARACTER) as von, CAST(bis as CHARACTER) as bis, kommentar, lehrstuhl, ordentlich, gnd_universitaet, ansetzung_uni, temp_prof_kat.id, CONCAT_WS('-','prof', temp_prof_kat.id, temp_prof_kat.name) as lecturer  FROM temp_prof_kat LEFT JOIN prof_lehrstuhl ON prof_lehrstuhl.idProf=temp_prof_kat.id WHERE ordentlich=1;

PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX pcp: <http://pcp-on-web.de/ontology#>
PREFIX data: <http://data.pcp-on-web.de/v.1/>
PREFIX city: <http://data.pcp-on-web.de/v.1/city/>
PREFIX helmstedt: <http://data.pcp-on-web.de/v.1/helmstedt/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX cpm: <http://catalogus-professorum.org/cpm/2/>
PREFIX cpl: <http://catalogus-professorum.org/lipsiensium/>

INSERT DATA {
    GRAPH data: {

        helmstedt:!lecturer rdf:type pcp:Lecturer .
        data:chair-!officeid-!lecturer rdf:type pcp:ChairProfessorship .
        helmstedt:!lecturer pcp:hasStageOfLife data:chair-!officeid-!lecturer.

        data:chair-!officeid-!lecturer rdfs:label "?lehrstuhl".

        data:chair-!officeid-!lecturer pcp:from "?von".
        data:chair-!officeid-!lecturer pcp:to "?bis".
        data:chair-!officeid-!lecturer pcp:note "?kommentar".


        data:chair-!officeid-!lecturer pcp:hasFaculty data:!ansetzung_uni-!fakultaet.
        data:!ansetzung_uni-!fakultaet rdf:type pcp:Faculty.
        data:!ansetzung_uni-!fakultaet rdfs:label "?ansetzung_uni ?fakultaet Fakultät".


        city:!universitaet rdf:type pcp:Location.
        data:chair-!officeid-!lecturer pcp:stageOfLifeLocation city:!universitaet.
        city:!universitaet rdfs:label "?ort".



    }
}
"""


print(insert_sql(data,endpoint,db_connection,True))

# Chairs oProfs of Lecturers including relevant attributes
#-----
29868-32487
--- 1.5125987529754639 seconds ---

In [10]:
data="""
# Chairs aProfs of Lecturers including relevant attributes
#-----

#SQL: SELECT prof_lehrstuhl.id as officeid, universitaet, fakultaet,CAST(von AS CHARACTER) as von, CAST(bis as CHARACTER) as bis, kommentar, lehrstuhl, ordentlich, gnd_universitaet, ansetzung_uni, temp_prof_kat.id, CONCAT_WS('-','prof', temp_prof_kat.id, temp_prof_kat.name) as lecturer  FROM temp_prof_kat RIGHT JOIN prof_lehrstuhl ON prof_lehrstuhl.idProf=temp_prof_kat.id WHERE ordentlich=0;

PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX pcp: <http://pcp-on-web.de/ontology#>
PREFIX data: <http://data.pcp-on-web.de/v.1/>
PREFIX city: <http://data.pcp-on-web.de/v.1/city/>
PREFIX helmstedt: <http://data.pcp-on-web.de/v.1/helmstedt/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX cpm: <http://catalogus-professorum.org/cpm/2/>
PREFIX cpl: <http://catalogus-professorum.org/lipsiensium/>

INSERT DATA {
    GRAPH data: {

        helmstedt:!lecturer rdf:type pcp:Lecturer .
        data:asscociate-!officeid-!lecturer rdf:type pcp:AssociateProfessor .
        helmstedt:!lecturer pcp:hasStageOfLife data:asscociate-!officeid-!lecturer.

        data:asscociate-!officeid-!lecturer rdfs:label "?lehrstuhl".

        data:asscociate-!officeid-!lecturer pcp:from "?von".
        data:asscociate-!officeid-!lecturer pcp:to "?bis".
        data:asscociate-!officeid-!lecturer pcp:note "?kommentar".

        data:chair-!officeid-!lecturer pcp:hasFaculty data:!ansetzung_uni-!fakultaet.
        data:!ansetzung_uni-!fakultaet rdf:type pcp:Faculty.
        data:!ansetzung_uni-!fakultaet rdfs:label "?ansetzung_uni ?fakultaet Fakultät".

        city:!universitaet rdf:type pcp:Location.
        data:asscociate-!officeid-!lecturer pcp:stageOfLifeLocation city:!universitaet.
        city:!universitaet rdfs:label "?ort".



    }
}
"""


print(insert_sql(data,endpoint,db_connection,True))

# Chairs aProfs of Lecturers including relevant attributes
#-----
32487-33348
--- 0.666696310043335 seconds ---